  <div class="query-format-container">
          <h2><center>Query Formats</center></h2>
          <ul>
            <li>task = '2'</li>
            <li>level = '4' and versiom = '0'</li>
            <li>eventrecordid = '19606' or opcode != '0'</li>
            <li>Process_ID = '0' or Thread_ID != '0'</li>
          </ul>
        </div>
        <div class="time-container">
          <h2><center>Last Sync Time</center></h2>
          <ul>
            <li>Application Logs : {{@applicationtime}}</li>
            <li>System Logs : {{@systemtime}}</li>
          </ul>
</div>